submission.csv

data/job_description.txt
jd.docx
models/candidate_embeddings.npy
# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.venv/

# VS Code
.vscode/

# Model files
models/*.faiss
models/*.pkl

# Environment variables
.env

# OS files
.DS_Store

Thumbs.db